/**
 * Fonts
*/


@font-face {
    font-family: 'Poppins';
    src: url("../fonts/poppins/Poppins-Regular.eot?") format("eot"),
    url("../fonts/poppins/Poppins-Regular.woff") format("woff"),
    url("../fonts/poppins/Poppins-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
  }



  @font-face {
    font-family: 'Poppins';
    src: url("../fonts/poppins/Poppins-Bold.eot?") format("eot"),
    url("../fonts/poppins/Poppins-Bold.woff") format("woff"),
    url("../fonts/poppins/Poppins-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
  }



  @font-face {
    font-family: 'Poppins';
    src: url("../fonts/poppins/Poppins-Black.eot?") format("eot"),
    url("../fonts/poppins/Poppins-Black.woff") format("woff"),
    url("../fonts/poppins/Poppins-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
  }
