// Layout 

.def-layout {
    padding: 1rem 1rem 1rem 1rem;
    margin: 2rem .78rem 2rem .78rem;
}

.def-mob--layout {
    width: 100%;
}


.test-bck--color {
    background-color: black;
    color: white;
}

.header--layout {} 
.flex-layout {}  
.flex-layout__mob{} 
.flex-layout__center{}