@use 'sass:map';

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
//@import 'base/mixins';

$font-size-xs: 14px;
$font-size-sm: 18px;
$font-size-md: 32px;
$font-size-lg: 52px;

$font-size-26: 26px;

//S, XS, L, XL and — if necessary — XXS and XXL

$space-unit: 1em;
$space-xxs: calc(0.25 * #{$space-unit});
$space-xs: calc(0.5 * #{$space-unit});
$space-sm: calc(0.75 * #{$space-unit});
$space-md: calc(1.25 * #{$space-unit});
$space-lg: calc(2 * #{$space-unit});
$space-xl: calc(3.25 * #{$space-unit});
$space-xxl: calc(5.25 * #{$space-unit});

$padding-top: $space-sm;

html {
  font-size: $font-size-sm;
}

@media (max-width: 900px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 12px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  body {
    scroll-behavior: smooth;
  }
}

body, * {
  font-family: PTSansNarrow, serif;
  font-weight: 400;
  font-size: $font-size-sm;
  box-sizing: border-box;
  color: $black;
}

h5, h6, h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
}

.layout {
  padding: 4px 15px 4px 15px;
}

.playFair__900 {
  font-family: PlayFairDisplay;
  font-weight: 900;
}

.ptSansNarrow {
  &__400 {
    font-family: PTSansNarrow;
    font-weight: 400;
  }

  &__700 {
    font-family: PTSansNarrow;
    font-weight: 700;
  }
}


$color-primary: #0699A6 !default;
$secondary-color: #9E8C6C !default;
$black: #000 !default;
$white: #fff !default;
$text-color: $black;


$bondi-blue: (
        50: #000F10,
        100: #011E21,
        200: #023D42,
        300: #035B63,
        400: #047A84,
        500: #0699a6,
        600: #37ADB7,
        700: #69C1C9,
        800: #9BD6DB,
        900: #CDEAED,
);

$donkey-brown: (
        50: #4F4636,
        100: #5E5440,
        200: #6E624B,
        300: #7E7056,
        400: #8E7E61,
        500: #9e8c6c,
        600: #A7977A,
        700: #B1A389,
        800: #BBAE98,
        900: #C4BAA6,
);


@mixin primary-color($number, $color) {
  .primary-color-#{$number} {
    background-color: #{$color};
  }
}

@mixin accent-color($number, $color) {
  .accent-color-#{$number} {
    background-color: #{$color};
  }
}

@include primary-color(50, map.get($bondi-blue, 50));
@include primary-color(100, map.get($bondi-blue, 100));
@include primary-color(200, map.get($bondi-blue, 200));
@include primary-color(300, map.get($bondi-blue, 300));
@include primary-color(400, map.get($bondi-blue, 400));
@include primary-color(500, map.get($bondi-blue, 500));
@include primary-color(600, map.get($bondi-blue, 600));
@include primary-color(900, map.get($bondi-blue, 900));

@include accent-color(50, map.get($donkey-brown, 50));
@include accent-color(100, map.get($donkey-brown, 100));
@include accent-color(200, map.get($donkey-brown, 200));
@include accent-color(300, map.get($donkey-brown, 300));
@include accent-color(400, map.get($donkey-brown, 400));
@include accent-color(500, map.get($donkey-brown, 500));
@include accent-color(600, map.get($donkey-brown, 600));
@include accent-color(900, map.get($donkey-brown, 900));


.section--layout {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .item-layout {
    flex: 1 1 20%; // grow shrink basis
    align-self: baseline;
    height: 100px;
    border-radius: 6.66666666rem;
    border: none;
    margin: 30px 10px;
  }
}


@mixin angled-edges {
  @content;
  &:after {
    background-color: rgba(158, 140, 108, 0.1);
    content: '';
    display: block;
    height: inherit;
    left: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    -webkit-backface-visibility: hidden; // for Chrome Window
  }
  &:after {
    transform: skewY(-4.5deg);
    transform-origin: 0 100%;
  }
}

// header secntion
.header-container {
  height: 37rem;
  @include angled-edges;
}

.profile {
  position: relative;
  padding-top: 5rem;
  $border-radius: 60%;
  display: flex;
  justify-content: center;


  &-img {
    background-color: #4F4636;
    opacity: 0.2;
    border-radius: $border-radius;
    -webkit-border-radius: $border-radius;
    position: relative;
    height: 10rem;
    width: 10rem;
  }
}

.breadcrumb {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: baseline;

  %slash:nth-child(1):after {
    padding: 8px;
    content: "/\00a0";
  }

  &-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: baseline;
    align-items: baseline;
    text-transform: uppercase;
    background-color: transparent;
    width: 100%;

    &--item {
      color: map.get($donkey-brown, 500);
      line-height: 1rem;
      letter-spacing: .19999rem;
      @extend %slash;

    }
  }
}

@mixin title--lg {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: .8846em;
  letter-spacing: -2.17px;
  font-size: $font-size-lg;
  @content;
}

.title {
  position: relative;
  display: flex;
  justify-content: center;

  &__item {

    @include title--lg {
      .word-break {
        padding: 1px 8px;
        font-size: inherit;
      }
    }
  }
}

.action {
  display: flex;
  justify-content: center;
  align-content: baseline;
  margin-top: $space-xl;

  &--btn {
    display: inline-flex;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    line-height: 1rem;
    letter-spacing: .19999rem;
    text-transform: uppercase;
    color: $white;
    background-color: map.get($bondi-blue, 500);
    position: relative;
    top: -2rem;
    border-radius: .0009rem;
    box-shadow: none;
    border: none;
    padding: 1.455rem 4rem 1.6rem 4rem;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: $space-lg;
  padding-left: $padding-top;
  padding-right: $padding-top;

  &__title {
    font-size: $font-size-md;
    margin: 0;
  }

  &__lead {
    line-height: 1.7em;
    margin-top: 10px;
    color: $black;
  }
}

.divider {
  width: 4.333rem;
  height: .57737rem;
  background-color: map.get($bondi-blue, 500);
  position: relative;
  margin: $space-lg 0 0 15px;
  padding-left: $padding-top;
  border: none;
}

.header {
  display: inline-block;
  font-size: $font-size-md;
  margin-top: $space-md;
  text-align: start;
}

.work {
  display: flex;
  flex-direction: column;

  &__role {
    text-transform: uppercase;
    color: map.get($donkey-brown, 500);
    margin-top: $space-lg;
    letter-spacing: 1px;
    line-height: 1.7rem;
    white-space: nowrap;
    overflow: hidden;
  }

  &__date {
    margin-top: $space-xs;
    line-height: 2em;
  }

  &__lead {
    margin-top: $space-xs;
    line-height: 1.7em;
  }
}

.sep {
  height: .1555em;
  width: .144em;
  background-color: map.get($donkey-brown, 500);
  display: inline-flex;
  padding-left: $space-xs;
  padding-right: $space-xs;
  margin-bottom: 3px;
  margin-left: 3px;
  margin-right: 3px;
  border: none;
}

.no-word--wrap {
  white-space: normal;
}

.title--small {
  letter-spacing: 1px;
  line-height: 1.7rem;
  white-space: nowrap;
  overflow: hidden;
}

.text--uppercase {
  text-transform: uppercase;
}

.primary-color {
  color: $black;
}

.secondary-color {
  color: map.get($donkey-brown, 500);
}

.accent-color {
  color: map.get($bondi-blue, 500);
}

.margin-top__lg {
  margin-top: $space-lg;
}

.margin-top__xxl {
  margin-top: $space-xxl;
}

.margin-top__xl {
  margin-top: $space-xl;
}

.margin-top__xs {
  margin-top: $space-xs;
}

.margin-top__md {
  margin-top: $space-md;
}

.pad__top--lg {
  padding-top: $space-lg;
}

.mg-right__lg {
  margin-right: $space-lg;
}

.mg-right__xl {
  margin-right: $space-xl;
}


.pad__top--xl {
  padding-top: $space-xl;
}

.pad__top--xxl {
  padding-top: $space-xxl;
}

.pad__left--sm {
  padding-left: $space-sm;
}

.pad__left--md {
  padding-left: calc(1rem + #{$space-md});
}

ul > li {
  list-style: none;
  line-height: $space-lg;
}

.line-height__lg {
  line-height: $space-lg;
}

.line-height__md {
  line-height: $space-md;
}

ul.item--spacing__md > li:not(:nth-child(1)) {
  margin-top: $space-md;
}

a {
  color: map.get($bondi-blue, 500);
  font-weight: bold;
  text-decoration: none;
}


.footer {
  position: relative;
  height: 40rem;
  @include angled-edges;

  &:after {
    top: 0;
    transform: skewY(-1.8deg);
    transform-origin: 100% 0;
  }
}

.title__h--lg {
  @include title--lg;
}

.contact {
  position: relative;
  display: flex;
  flex-direction: column;

  li {
    display: flex;
    justify-content: center;
  }

  li > a {
    font-size: $font-size-26;
  }

}

.f-layout {
  display: flex;
}

.just-center {
  justify-content: center;
}

.pos--relative {
  position: relative;
}

.f-dir--column {
  flex-direction: column;
}

.align-c--center {
  align-content: center;
}

.f-dir--row {
  flex-direction: row;
}

.align-base-line {
  align-content: baseline;
}
